@keyframes downloadAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.downloadAnimation {
    animation-name: downloadAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.button {
    --main-focus: #2d8cf0;
    --font-color: #dedede;
    --bg-color-sub: rgb(72, 22, 119);
    --bg-color: blueviolet;
    --main-color: #dedede;
    position: relative;
    width: 160px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.button,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(21px);
    color: var(--font-color);
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 42px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .svg {
    width: 25px;
    fill: var(--main-color);
}

.button:hover {
    background: var(--bg-color);
    box-shadow:
        4px 4px var(--main-color),
        0 0 20px rgba(138, 43, 226, 0.5),
        0 0 40px rgba(138, 43, 226, 0.3);
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 160px;
    transform: translateX(0);
}

.button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}