/* nav.css */
nav {
    background: rgba(0, 0, 0, 0.132);
    width: max-content;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    bottom: 3rem;
    left: calc(50%);
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
    border-radius: 2rem;
    backdrop-filter: blur(10px);
}

nav a,
.nav-link {
    background: transparent;
    padding: 0.8rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    transition: background-color 0.3s, transform 0.3s;
    /* Added transition for smooth hover effect */
}

.nav-link:hover {
    background: rgba(137, 43, 226, 0.281);
    transform: scale(1.3);
}

.nav-link.active {
    background: var(--color-primary);
    color: #8a2be2;
}